extends ../layouts/main

block vars
  - const title = 'Home';
  - const pageName = 'home-page';

block content
  include ../components/hero
  include ../components/benefits
  include ../components/memorable
  include ../components/program
  include ../components/offer
  include ../components/subscribe

  +hero
  +benefits
  +memorable
  +program
  +offer
  +subscribe
  