mixin benefits
  section.benefits.section
    .benefits__container.container 
      h2.benefits__title.section__title.section__title_small Vorteile von eiligen Glückwünsche  
      ul.benefits__list.row.gy-2
        li.col-3.col-xl-6 
          .benefits__item 
            picture.benefits__img-wrap 
              img.benefits__img(src="@/assets/img/benefits/benefit-1.jpg" alt="")
            strong.benefits__desc Möchtet Ihr den Geburtstag Eures Kindes in ein richtiges Märchen verwandeln?
        li.col-3.col-xl-6 
          .benefits__item 
            picture.benefits__img-wrap 
              img.benefits__img(src="@/assets/img/benefits/benefit-2.jpg" alt="")
            strong.benefits__desc Seid Ihr auf der Suche nach einem Geschenk, das es nicht schon 3 Tage später wieder vergisst?
        li.col-3.col-xl-6 
          .benefits__item 
            picture.benefits__img-wrap 
              img.benefits__img(src="@/assets/img/benefits/benefit-3.jpg" alt="")
            strong.benefits__desc Wollt Ihr Eure Liebsten überraschen, auch wenn Ihr nicht dabei sein könnt?
        li.col-3.col-xl-6 
          .benefits__item 
            picture.benefits__img-wrap 
              img.benefits__img(src="@/assets/img/benefits/benefit-4.jpg" alt="")
            strong.benefits__desc Habt Ihr Lust, aus einem gewöhnlichen Wochentag eines der schönsten Erlebnisse zu machen?
      .benefits__slider-block
        .benefits__slider.swiper
          ul.swiper-wrapper 
            li.swiper-slide
              .benefits__item 
                picture.benefits__img-wrap 
                  img.benefits__img(src="@/assets/img/benefits/benefit-1.jpg" alt="")
                strong.benefits__desc Möchtet Ihr den Geburtstag Eures Kindes in ein richtiges Märchen verwandeln?
            li.swiper-slide
              .benefits__item 
                picture.benefits__img-wrap 
                  img.benefits__img(src="@/assets/img/benefits/benefit-2.jpg" alt="")
                strong.benefits__desc Seid Ihr auf der Suche nach einem Geschenk, das es nicht schon 3 Tage später wieder vergisst?
            li.swiper-slide
              .benefits__item 
                picture.benefits__img-wrap 
                  img.benefits__img(src="@/assets/img/benefits/benefit-3.jpg" alt="")
                strong.benefits__desc Wollt Ihr Eure Liebsten überraschen, auch wenn Ihr nicht dabei sein könnt?
            li.swiper-slide
              .benefits__item 
                picture.benefits__img-wrap 
                  img.benefits__img(src="@/assets/img/benefits/benefit-4.jpg" alt="")
                strong.benefits__desc Habt Ihr Lust, aus einem gewöhnlichen Wochentag eines der schönsten Erlebnisse zu machen?
        .benefits__slider-progress.swiper-progress
          span.swiper-progress-text 01
          .swiper-progress-line
            .swiper-progress-fill
          span.swiper-progress-text.swiper-progress-text_total
