section.section
  .section-heading 
    h3.section-heading__title Mottopartys Galerie
    p.section-heading__desc Mottopartys - ein neues Partyformat für Kinder!! Auf jeder Feier erwarten Euch Dekorationen, die eine authentische Atmosphäre kreieren, ein spezielles Unterhaltungsprogramm und ein qualifizierter Kindermoderator.
  .category-tabs
    .swiper.js-tabs-slider.tabs-slider
      .swiper-wrapper
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="true" aria-controls="tab-1") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
        .swiper-slide 
          .btn.btn_default.tabs-slider__item(type="" role="tab" aria-selected="false" aria-controls="tab-2") Wednesday Dance Party
      .container
        .swiper-scrollbar
    .category-tabs__content.container(role="tablist" id="tab-1")
      .gallery-grid
        .gallery-grid__col
          .gallery-grid__item.gallery-grid__item_text
            h3.gallery-grid__title über die Party
            p.gallery-grid__desc Mottopartys - ein neues Partyformat für Kinder!! Auf jeder Feier erwarten Euch Dekorationen, die eine authentische Atmosphäre kreieren.
            .gallery-grid__btn.btn.btn.btn_white Jetzt Anfragen
          .gallery-grid__item
            a(href="" data-fancybox) 
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/2.jpg" alt="")
          .gallery-grid__item
            a(href="" data-fancybox) 
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/4.jpg" alt="")
        .gallery-grid__col
          .gallery-grid__item
            a(href="" data-fancybox)  
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/1.jpg" alt="")
          .gallery-grid__item
            a(href="" data-fancybox) 
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/3.jpg" alt="")
          .gallery-grid__item 
            a(href="" data-fancybox) 
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/5.jpg" alt="")
        .gallery-grid__col
          .gallery-grid__item.gallery-grid__item_video 
            .gallery-grid__play
              img(src="@/assets/img/play.svg", alt="")
            video(src="https://kidsfunpalace.de/assets/images/video/pexels-cottonbro-studio-3992630-2160x4096-50fps.mp4" class="gallery-grid__video") 
            picture.gallery-grid__image
              img(src="@/assets/img/gallery/vid.jpg" alt="")
          .gallery-grid__item
            a(href="" data-fancybox)  
              picture.gallery-grid__image
                img(src="@/assets/img/gallery/6.jpg" alt="")
      button.btn.button.js-show-gallery.show-gallery Mehr photos
    .catagory-tabs__content.container(role="tablist" id="tab-2") ызфт 2


