mixin hero
  section.hero
    .hero__container.container 
      .row
        .hero__order.col-6.col-xxl-7.col-lg
          .hero__text-block
            .hero__title-desc 
              h1.hero__title Eilige Glückwünsche für Kinder (von 0 bis 99 Jahre)
              p.hero__desc Schenkt Euren Lieben Erinnerungen, die nicht nur im Fotoalbum, sondern auch im Herzen bleiben! Bestellt eine 20—minütige feierliche Performance von professionellen, kostümierten Animateuren, die diesen Tag in ein einzigartiges Erlebnis verwandeln.
            btn.btn.btn_orange(type="button") Jetzt bestellen
        .col-6.col-xxl-5.col-lg
          .hero__poster-block
            picture.hero__poster-wrap
              img.hero__poster(src="@/assets/img/hero/poster.jpg", alt="")
            .hero__particles
          
      
    