mixin offer
  section.offer.section
    .offer__container.container 
      .offer__content 
        .row.gy-4
          .col-6.col-xxl-7.col-xl.offer__order
            .offer__text-block 
              .offer__title-desc
                h2.offer__title Feiert ein unvergessliches Fest ohne viel Aufwand!
                p.offer__desc Bestellt eilige Glückwünsche für Eure Allerliebsten.
              button.offer__btn.btn.btn_brown(type="button") Jetzt bestellen
          .col-6.col-xxl-5.col-xl
            .offer__poster-block 
              picture.offer__poster-wrap 
                img.offer__poster(src="@/assets/img/offer/poster.jpg", alt="")
              span.offer__poster-desc.offer__poster-desc-1 Bestellt eine 20—minütige feierliche Performance
              span.offer__poster-desc.offer__poster-desc-2 100,- €
              .offer__particles