mixin program
  section.program.section
    .program__container.container
      h2.program__title.section__title Was beinhaltet das Standardprogramm?
      .program__desktop
        .row
          .col-6.col-lg
            picture.program__img-wrap 
              img.program__img(src="", alt="")
          .col-6.col-lg
            ul.program__acc 
              li.program__acc-item 
                button.program__acc-head(type="button" data-hc-control="program1" data-img-src="@/assets/img/program/img.jpg")
                  h3.program__name Animateure
                .program__acc-body(data-hc-content="program1")
                  .program__acc-content
                    p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.
              li.program__acc-item 
                button.program__acc-head(type="button" data-hc-control="program2" data-img-src="@/assets/img/program/img.jpg")
                  h3.program__name Musik
                .program__acc-body(data-hc-content="program2")
                  .program__acc-content
                    p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.
              li.program__acc-item 
                button.program__acc-head(type="button" data-hc-control="program3" data-img-src="@/assets/img/program/img.jpg")
                  h3.program__name Geschenk
                .program__acc-body(data-hc-content="program3")
                  .program__acc-content
                    p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.
      .program__mobile
        .program__slider.swiper
          ul.swiper-wrapper 
            li.swiper-slide
              .program__item
                picture.program__img-wrap  
                  img.program__img(src="@/assets/img/program/img.jpg", alt="")
                .program__text-block 
                  h3.program__name Animateure
                  p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.
            li.swiper-slide
              .program__item
                picture.program__img-wrap  
                  img.program__img(src="@/assets/img/program/img.jpg", alt="")
                .program__text-block 
                  h3.program__name Musik
                  p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.
            li.swiper-slide
              .program__item
                picture.program__img-wrap  
                  img.program__img(src="@/assets/img/program/img.jpg", alt="")
                .program__text-block 
                  h3.program__name Geschenk
                  p.program__desc Unsere Schauspieler sind richtige Profis. Ihre Verwandlungen sind so meisterhaft, dass nicht einmal Erwachsene den Unterschied erkennen werden. Die Kinder sind begeistert und die Eltern entspannt: Unsere Priorität N°1 ist Sicherheit, darum arbeiten die Animateure immer in frisch gereinigten Verkleidungen.


