@font-face {
  font-weight: 500;
  font-family: Lora;
  font-style: normal;
  src: url('@/fonts/Lora-Medium.woff2') format('woff2'), url('@/fonts/Lora-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Lora;
  font-style: normal;
  src: url('@/fonts/Lora-Regular.woff2') format('woff2'), url('@/fonts/Lora-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'Noto Sans';
  font-style: normal;
  src: url('@/fonts/NotoSans-Bold.woff2') format('woff2'), url('@/fonts/NotoSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'Noto Sans';
  font-style: normal;
  src: url('@/fonts/NotoSans-Regular.woff2') format('woff2'), url('@/fonts/NotoSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: TiemposHeadline;
  font-style: normal;
  src: url('@/fonts/TiemposHeadline-Light.woff2') format('woff2'),
    url('@/fonts/TiemposHeadline-Light.woff') format('woff');
  font-display: swap;
}
